@media (max-width: 767px) {
    .slider .parallax-slider .swiper-slide{
        min-height: 50vh;
    }
    .section-home{
        padding-top: 20px;
    }
    .section-home .exp-img .img {
        height: 220px;
    }
    .section-home .exp-img .img .years h2{
        font-size: 60px;
    }
    .link-phone{
        position: relative;
        i{
            position: absolute;
            top: 27px;
            width: 100px;
            left: -22px;
        }
    }
    .navbar .social-icon, .navbar .search{
        margin-top:0px;
    }
  }

  .link-phone{
    color: black !important;
  }
  .color-pool{
    color: #00c3ff !important;
  }
  .color-suana{
    color: #8d5e07 !important;
  }
  .color-onsen{
    color: #999999 !important;
  }